body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ActiveFocus {
    background-color:silver;
}

.modalrow {
    margin-bottom: 15px;
}

.OrderBlock {
    padding-top: 10px;
    padding-bottom: 100px;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 700px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 30px;
    z-index: 99999;
    opacity: 1;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.TextBlock {
    resize: both;
    display: block;
    width: 100%;
    min-width: 1250px;
}
